@import "$lib/styles/themes/default.pcss";
@import "@skeletonlabs/skeleton/styles/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body,
#sveltekit-body {
	@apply h-full overflow-hidden;
}

html {
	@apply scroll-smooth;

	& > body > #sveltekit-body {
		@apply contents;

		& *::-webkit-scrollbar {
			@apply h-1;
		}

		& main {
			@apply p-4;
		}
	}
}
